#blockDropperOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 999999;
	cursor: crosshair;
	background: rgba(0,0,0,0.05);
}

#selectionBox {
	position: fixed;
	border: 2px dashed blue;
	background: rgba(0, 136, 255, 0.2);
	z-index: 1000000;
}

#blockResult {
	display: flex;
	position: fixed;
	background-color: #f9f9f9;
	color: black;
	width: auto;
	border: 1px solid #ccc;
	z-index: 9999999999999999999999999;
	overflow-y: auto;
	max-height: 300px;
}

#sideBlockResult {
	position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 999998;
}

.dropperBlock {
	width: 50px;
	height: 50px;
    object-fit: cover;
    object-position: top;
}
